[
  {server, [
    {cacertfile, "/etc/rabbitmq/ca.bundle.pem"},
    {certfile,   "/etc/rabbitmq/server.rabbit.ops.crt.pem"},
    {keyfile,    "/etc/rabbitmq/server.rabbit.ops.key.pem"},
    {depth, 3},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true}
  ]},
  {client, [
    {cacertfile, "/etc/rabbitmq/ca.bundle.pem"},
    {certfile,   "/etc/rabbitmq/client.rabbit.ops.crt.pem"},
    {keyfile,    "/etc/rabbitmq/client.rabbit.ops.key.pem"},
    {depth, 3},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true}
  ]}
].
